/* .selector-for-some-widget {
    box-sizing: content-box;
  } */
@font-face{
    font-family: "segoeui";
    src: url("css/fonts/segoeui");
    }
  #logo {
    vertical-align:middle;
    /* background-image:  */
  }
  #main{
    display: block;
  }
  #mobile{
    display: none;
  }
  /* #mobilesearch{
    display: none;
  } */
  .navbar-brand span {
    font-size:2rem;
    line-height:1.2;
    font-weight: 200;
    display:inline-block;
    vertical-align:middle;
    padding:0 0 0 10px;
  }
  .navbar-brand b {
    display:block;
    font-size:50%;
    line-height:1;
  }
  .navbar-nav {
    margin-left:auto;
  }
  #ola{
    width:500px;
    color: white;
    /* align-items: center */
    /* padding-bottom:2px; */
    /* left: 575px; */
  }
  #ola .form-control{
    background-color: #3180cf;
  }
  .bgimage {
    width:100%;
    /* height:580px; */
    background: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  /* .bgimage h1 {
    color:white; */
    /* text-shadow:2px 2px #333; */
    /* padding-top:50px;
    font-weight: bolder;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70px;
  } */
  #find{
    color: white;
    font-size: 49px;
    padding-top:42px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-family: "segoeui";
    font-size: 65px;
    line-height:1;

  }
  /* @media only screen and (max-width: 767px) {
    body { */
      /* The file size of this background image is 93% smaller
         to improve page load speed on mobile internet connections */
      /* background-image: url('../images/background.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size:cover;
      background-attachment: fixed;
    }
  } */
  #follow{
    color: white;
  }
  #get{
    font-weight: bolder;
    color: white;
  }
  #by{
    color: white;
  }
  .btn-outline-primary{
    color: white;
    border: 2px solid white;
  }
  .btn-outline-primary:hover {
    color: white;
    background-color: #3180cf;
    border-color: white;
}
#in{
  display: none;
}
input::-webkit-input-placeholder {
  color: #D3D3D3 !important;
  /* opacity: .5; */
  }
   
  input:-moz-placeholder { /* Firefox 18- */
  color: #D3D3D3 !important;  
  }
   
  input::-moz-placeholder {  /* Firefox 19+ */
  color: #D3D3D3 !important;  
  }
   
  input:-ms-input-placeholder {  
  color: #D3D3D3 !important;  
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#team{
  color: white;
}

/* .has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
} */

/* .carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center center; */
  /* background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15e27d22494%20text%20%7B%20fill%3A%23333%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15e27d22494%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23555%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22277%22%20y%3D%22218.45%22%3EThird%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E); */
  /* background-image: url('../images/background.png');
}
.carousel-item2 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: url('../images/img1.jpeg');
}

.carousel-item h1 {
  margin: 0;
  color: white;
} */
/* .slider{

} */


@media only screen and ( max-width: 1024px ) 
{
  .bgimage { 
    background-image: none !important;
  }
  #find{
    color:gray;
    font-size: 26px;
    padding-bottom:5px;
    padding-top: 0px;
    text-align: center;
   font-family: "segoeui";
  }
 
  #follow{
    color:gray;
    padding-top:5px;
    font-size:12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  #get{
    color:gray;
    font-size: 15px;
    /* text-align: center; */
  }
  #by{
    color: gray;
    text-align: center;
    font-size: 11px;
  }
  #navbar{
    background-color: #3180cf;
  }
  #toggle{
    background-color:white;
  }
  #body{
    background-color: whitesmoke;
  }
  #search{
    margin-top: 5px;
  }
  #footer{
    display: none;
  }
  #in{
    display: block;
    color: black;
    font-size: 13px;
    text-align: center !important;
    /* padding:10px; */
  }
  .btn-primary{
    font-size: 13px;
  }
  #let{
    text-align: center;
    color:gray;
    font-size: 15px;
    font-family: "segoeui";
  }
  /* #bar{
    padding-top:15px;
    width: 65%;
  } */
  #welcome{
    color:#4d3838;
    font-size: 19px;
    text-align: center;
    font-family: "segoeui";
  }
  #forgot{
    display: block;
    color: #3180cf;
    font-size: 15px;
    text-align: center;
    /* padding:10px; */
  }
  .big{
    display: none;
  }
  .small{
    display: block;
  }
  #ola{
    display: block;
    width: 60%;
    align: right;
    /* padding:0px; */
    /* margin-top:2px; */
  }
  #ola .form-control{
    background-color: white;
  }
  #first{
    color:#4d3838;
    font-size: 19px;
    font-weight: bolder;
    /* text-align: center; */
  }
  #please{
    color:black;
    font-size: 14px;
    /* text-align: center; */
  }
  #label{
    font-size: 14px;
    color: gray;
  }
  #star{
    color:#3180cf;
    font-size: 14px;
  }
  .me{
    width: 49%;
    background-color: #3180cf;
    color: white;
  }
  .me2{
    width: 49%;
    background-color: white;
    border: 1px solid #3180cf;
    color: #3180cf;
  }
  .me3{
    border: 1px solid white;
    color: white;
    background-color: #3180cf;
    font-weight: bolder;
  }
  .sign{
    color:white;
    font-weight: bolder;
  }
  #main{
    display: none;
  }
  #mobile{
    display: block;
  }
  #verify{
    color:#4d3838;
    font-size: 19px;
    font-weight: bolder;
    /* text-align: center; */
  }
  /* #mobilesearch{
    display: block;
  } */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.small{
  width: 93px;
  height: 40px;
  margin-left:40px;
}
}
 
